{{#bs-button active=notCollapsed onClick=(action "toggle") data-test-toggle-menu="true"}}
    {{#if collapsed}}
        Menu
    {{else}}
        Hide
    {{/if}}
{{/bs-button}}

<hr>

{{#bs-collapse collapsed=collapsed}}
    <div class="well">
        {{login-dialog afterLogin=(action "afterLogin")}}
    </div>
{{/bs-collapse}}

{{outlet}}